<div class="container text-center">
  <div class="row pt-5">
    <div class="col-6 bg-info border">
      <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
        <h1><u>Add to the List</u></h1>
        <input type="text"
               class="mt-4 form-control"
               autocomplete="off"
               placeholder="Enter New Task Here"
               ngModel
               required
               id="name"
               name="name">
        <button class="m-2 btn btn-success border border-dark" type="submit" [disabled]="!f.valid">
          Add!
        </button>
      </form>
    </div>
    <div class="col-6 bg-light border pb-4">
      <h1><u>The Evil List!</u></h1>
      <app-to-do-thing
        *ngFor="let task of CompleteToDoList"
        [TaskInfo]="task">
      </app-to-do-thing>
    </div>
  </div>
</div>
